[submodule "submodules/polkadot-sdk"]
	path = submodules/polkadot-sdk
	url = https://github.com/paritytech/polkadot-sdk.git
[submodule "paseo-runtimes"]
	path = submodules/paseo-runtimes
	url = https://github.com/paseo-network/runtimes.git
[submodule "submodules/acala"]
	path = submodules/acala
	url = https://github.com/AcalaNetwork/Acala.git
